body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f3f3f3;
}

header {
    background: #0044aa;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background: #022b63;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #ffd700;
}

.content-box {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 85%;
    border-radius: 8px;
    box-shadow: 0 0 10px #bbb;
}

h2 {
    color: #003b7a;
}

footer {
    background: #0044aa;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}